body {
  background-color: #fcfefe;
}
canvas {
  border: 1px solid #eef9f6;
  margin: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-image: url("./images-folder/static-background-cat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

nav {
  background-color: #c2eae0;  
}

.btn {
  background-color: #c2eae0;  
  border: none;
  width: 250px;
  margin: 20px; 
}
.start-game-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.start-game-btn .btn {
  color:white;
  text-decoration:none;
}


.welcome-text {
  color: #89d6c3;
  text-align: center;
}

#intructiontext {
display: flex;
 align-items: center;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

#intructiontext div{
  color: #79d1bb;
  width: 800px;
  justify-content: center;

  
}
.gameCharacter {
  height: 65px;
  width: 65px;
  text-align:center;
  margin: 10px;
}

#spacebar {
  display:block;
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
}

#arrowkeys {
  width: 120px;
  height: 80px;
  display:block;
  margin: 7px;
}